<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"></link>
    </head>
    <body>
        <div class="main-content">
            {{>header }}
            <p>For any query contact me on LinkedIn </p><a href="https://www.linkedin.com/in/mohit-manglani-568b8a157">My LinkedIn</a>
        </div>
        
        {{>footer}}
    </body>
</html>